<div class="container_960">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="b-gallery-tytle">
				<%= service.name %>
			</div>
		</div>	

		<div class="col-xs-12 col-sm-8 col-md-8">
			<table class="price_table">
				<%service.items.forEach(function(item, key) { %>

					<tr <%if (key == 0) { %> class="first_tr" <%};%> >
						<td> <%= item.name %></td>

						<td class = "price_td"> 
							
							<% if(!item.promo_count) { %>

								<%= item.price %> zł

							<% } else { %>	

								<span class="price_action">
									<div class="price_action_minus_procent">-<%= item.promo_count %>%</div>	
										<%= item.price %> zł
								</span>	
							<% } %>	

						</td>
					</tr>

				<% }) %>

			</table>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4">
			<img class="staff_img" src="<%= service.src %>" />
			
			<% if (service.description) { %>

				<div>
					<p class="p_custop p_custop_price">
						<%= service.description %>
					</p>
				</div>

			<% } %>

		</div>
		
	</div>	
</div>	